.footer {
  background: #fff;
  padding: 48px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .first_footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .page {
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #292929;
          }
        }
      }
    }
    .copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .medias {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        box-icon {
          cursor: pointer;
        }
      }
    }
  }
}
